.fixed-table-container {
  max-height: 580px; width:100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-bottom: 40px;
}

.fixed-table-container table thead { background:#fff;
  
    top: 0px;
    left: 0px !important;
    z-index: 1 !important;}
.fixed-table-container table {
  border-collapse: collapse;
  width: 100%;
}

.fixed-table-container.excuDiv tr th:first-child {width:44px !important;}
.fixed-table-container.excuDiv th select { width:150px;}
.fixed-table-container th select { width:90px;}
.fixed-table-container th,
.fixed-table-container td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 6px 10px;
  vertical-align: top; 
  white-space:normal;word-wrap: break-word
}
.fixed-table-container td { font-size:14px;}
.fixed-table-container th {
  background: #000;white-space: nowrap;
  font-size: 14px;    color: #fff;
  line-height: 16px;

}.fixed-table-container tr:second-child th { background:#000 !important;}
.fixed-table-container tr:first-child th { background:#eee;}
.fixed-table-container td:first-child, .fixed-table-container th:first-child {
  background: #eee; width:40px !important; left:2px;
}

.fixed-table-container tr:first-child th:first-child {   
    position: relative !important; width:44px !important;
    top: 0px;bottom:0px;
    left: 0px !important;
}





.fixed-table-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.fixed-table-container::-webkit-scrollbar
{
	width: 6px; height:6px;
	background-color: #F5F5F5;
}

.fixed-table-container::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}


/*